<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'criar_usuarios' %}" method="post">
        {% csrf_token %}
        <label for="username">nome</label>
        <input type="text" name="nome" id="nome">
        <label for="sobrenome">sobrenome</label>
        <input type="text" name="sobrenome" id="sobrenome">
        <label for="username">username</label>
        <input type="text" name="username" id="username">
        <input type="text" name="sobrenome" id="sobrenome">
        <label for="email">email</label>
        <input type="email" name="email" id="email">
        <label for="senha">senha</label>
        <input type="password" name="senha" id="senha">
        <input type="submit" value="Cadastrar">



    </form>
</body>
</html>