<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'logar_usuarios' %}" method="post">
        {% csrf_token %}
        <label for="username">username</label>
        <input type="text" name="username" id="username">
        <label for="senha">senha</label>
        <input type="password" name="senha" id="senha">
        <input type="submit" value="Cadastrar">
    </form>

    {% if erro %}
    <p>{{ erro }}</p>
    {% endif %}
</body>
</html>