<nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Listar Usuários</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/adicionar">Cadastrar Usuário</a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <p class="nav-link">{{ request.user.username }}</p>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login/login/">Login</a> <!-- Corrigi o link para logout -->
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/accounts/logout/">Sair</a>   <!-- Login aparece só quando não logado -->
        </li>
        {% endif %}
    </ul>
</nav>